
Отдел маркетинга разработал новый дизайн посадочной страницы клиента (lending). Пользователи сайта оценили новый дизайн. Результаты итоговой оценки зафиксированы в количественной переменной Общая оценка. Средняя оценка старого дизайна по результатам прошлого исследования составляет 30 баллов.
Значимо ли улучшился дизайн посадочной страницы сайта, и есть ли влияние возраста на оценку нового дизайна?
Необходимо ответить на вопрос, используя статистические методы, а также дать рекомендации отделу маркетинга по результатам проведенного анализа.

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_excel("/content/drive/MyDrive/данные lending.xlsx")

In [4]:
df

   Возрастная группа  Общая оценка
0        65 и страше     38.454803
1              55-64     17.669677
2        65 и страше     31.704307
3        65 и страше     25.924460
4              До 25     30.450007
..               ...           ...
63             45-54     46.567682
64       65 и страше     23.999491
65             До 25     24.994419
66       65 и страше     33.538502
67             45-54     37.201829

[68 rows x 2 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Возрастная группа  68 non-null     object
 1   Общая оценка       68 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.2+ KB

In [8]:
df.groupby('Возрастная группа')['Общая оценка'].agg(['mean','count']).sort_values(by='mean', ascending=False)

                        mean  count
Возрастная группа
45-54              39.118369     10
35-44              37.018058     12
25-34              31.678010     10
До 25              28.749228     13
55-64              28.447336      6
65 и страше        28.002791     17

##Сравниваем возрастные группы между собой

In [14]:
from scipy.stats import f_oneway

group1 = df[df['Возрастная группа']=='До 25']['Общая оценка']
group2 = df[df['Возрастная группа']=='25-34']['Общая оценка']
group3 = df[df['Возрастная группа']=='35-44']['Общая оценка']
group4 = df[df['Возрастная группа']=='45-54']['Общая оценка']
group5 = df[df['Возрастная группа']=='55-64']['Общая оценка']
group6 = df[df['Возрастная группа']=='65 и страше']['Общая оценка']

f_statistic, p_value = f_oneway(group1, group2, group3, group4, group5, group6)

print("F-статистика:", f_statistic)
print("p-значение:", p_value)

F-статистика: 6.992526962676505
p-значение: 3.0873249056797e-05

Средние значения в группах различаются настолько, что можно сделать вывод о том, что группы статистически значимо отличаются друг от друга

## Сравниваем новый и старый дизайн

In [15]:
df['Общая оценка'].mean()

31.95076354936375

In [16]:
from scipy.stats import ttest_ind
n=68
old_design = [30]*n
new_design = [31.95]*n

t_statistic, p_value = ttest_ind(old_design, new_design)

if p_value < 0.05:
    print("Разница статистически значима")
else:
    print("Разница не является статистически значимой")

Разница статистически значима

<ipython-input-16-447c89ecf51c>:6: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  t_statistic, p_value = ttest_ind(old_design, new_design)

##Вывод

1.Значимо ли улучшился дизайн посадочной страницы сайта? да,значимо


2.Есть ли влияние возраста на оценку нового дизайна? Существует статистически значимая разница в оценках нового дизайна по возрастным группам. Это говорит о том, что возраст может оказывать влияние на оценку нового дизайна посадочной страницы сайта.


3.Рекомендация:рекомендую провести более детальное исследование, чтобы выяснить, какие конкретно элементы дизайна наиболее привлекательны для каждой возрастной группы.